.ghibli-film-document-element
{
    background-color: aquamarine;
}

.ghibli-film-document-element_local-storage-values
{
    object-fit: cover;

    p 
    {
        max-width: 1460px;
    }
}

.ghibli-film-document-element_images
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.ghibli-film-document-element_image
{
    width: 400px;
    height: 600px;
   
}

.ghibli-film-document-element_movie_banner
{

    height: 600px;
    max-width: 1060px;
}


h2
{
    
}